header {
	background: #4aaaa5;
	color:white;
	border-color: #cccccc;
	width:20%;
	text-align: center;
	float: left;
	margin-left: 60px;
	margin-right: 100px;
}
.main-content {
	background-image: url("../images/concrete_seamless.png");
	font-size:;
	font-family:Ariel;
	background-color:brown;
	width:960px;
	height:500px;
	clear:both;
	overflow:auto;
	border-color: #4aaaa5;
	border-bottom: solid #4aaaa5;
}
.top-right {
	background-color:orange;
	width:20%;
	text-align: right;
	margin-left: 70px;
	padding:30px;
	float:left;
	border-right: solid 1px black;
}
aside{
	padding: 20px 0;
	text-align: left;
	margin-bottom: 20px;
	margin-left:60px;
	margin-top: 20px;
	overflow: auto;
	background-color: white;
	clear: both;
	width:450px;
	
}
.right {
	background-color: pink;
	width:270px;
	float:left;
	display:inline-block;
}
footer {
	background: #666666;
	padding: 20px 0;
	text-align: center;
	width: 960px;
	clear:both;
}
